<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Income Prediction</title>
  <meta name="viewport" content="width-device-width,initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="{{ url_for('static', filename='sample.css') }}" type="text/css" rel="stylesheet">
</head>

<body style="background :url('static/images/money.jpg') no-repeat; background-color:rgba(255,255,255,0.8);height:100vh ;  background-size:cover; background-position:top center;">
  <div class="login" style="float:right;padding: 30px; margin-top:35px; display:inline-block ;margin-right: 20px;background-color:rgba(255,255,255,0.2);margin-left: 50%">
	 <h2 style="color: white">Income Prediction based on Census Data</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('result')}}"method="post"> 
       <span style="color:white;font-weight: bold">Age</span>&nbsp;  <input class="input" type="number" name="age" value = "age" required="required" autofocus="autofocus" style="text-align:center; width:12%;background:rgba(0,0,0,0.5);outline:none;border-radius: 4px;border:1px solid rgba(240,220,156,1.0); color:rgba(240,220,156,1.0);font-weight:bold;margin-left: 20%;margin-top: 25px;width: 400px" />&nbsp;<br>
        
  		<span style="color:white;font-weight: bold">Years of Education</span>&nbsp;  <input class="input" type="number" name="education_number"  value="education_number" required="required" autofocus="autofocus" style="text-align:center; width:12%;background:rgba(0,0,0,0.5);outline:none;border-radius: 4px;border:1px solid rgba(240,220,156,1.0); color:rgba(240,220,156,1.0);font-weight:bold;margin-left: 2%;margin-top: 5px;width: 400px">&nbsp;<br>
  		  
        
  		<span style="color:white;font-weight: bold">Marital Status</span>&nbsp;  <select type = "text" name="marital_status" required="required" autofocus="autofocus" style="text-align:center; width:32%;margin-left: 8.1%;margin-top: 5px;border:1px solid rgba(240,220,156,1.0);color: rgba(240,220,156,1.0);width: 400px">
    			 <option value="independent">Independent</option>
    			 <option value="married">Married</option>
  		</select>&nbsp;<br>

        
  		<span style="color:white;font-weight: bold">Work Class</span>&nbsp;  <select type = "text" name="work_class" required="required" autofocus="autofocus" style="text-align:center; width:35.3%;margin-left: 11%;margin-top: 5px;border:1px solid rgba(240,220,156,1.0);color: rgba(240,220,156,1.0);width: 400px">
      			<option value="Private">Private</option>
        		<option value="Federal-gov">Federal Government</option>
        		<option value="Self-emp-not-inc">Self Employed Not Inc</option>
        		<option value="State-gov">State Government</option>
        		<option value="Self-emp-inc">Self Employed Inc</option>
        		<option value="Local-gov">Local Government</option>
        		<option value="Without-pay">Without Pay</option>
        		<option value="Never-worked">Never Worked</option>
      </select>&nbsp;<br>

        
  		<span style="color:white;font-weight: bold">Occupation</span>&nbsp;  <select type = "text" name="occupation" required="required" autofocus="autofocus" style="text-align:center; width:34.5%;margin-left: 10.8%;margin-top: 5px;border:1px solid rgba(240,220,156,1.0);color:rgba(240,220,156,1.0);width: 400px">
      			<option value="Other-service">Other Service</option>
      			<option value="Prof-specialty">Professional Specialty</option>
      			<option value="Exec-managerial">Executive Managerial</option>
      			<option value="Adm-clerical">Administrative Clerical</option>
      			<option value="Sales">Sales</option>
      			<option value="Tech-support">Technical Support</option>
      			<option value="Craft-repair">Craft Repair</option>
      			<option value="Farming-fishing">Farming and Fishing</option>
      			<option value="Transport-moving">Transport Moving</option>
      			<option value="Machine-op-inspct">Machine Operation Inspection</option>
      			<option value="Protective-serv">Protective Servent</option>
      			<option value="Handlers-cleaners">Handlers and Cleaners</option>
      			<option value="Priv-house-serv">Private House Servant</option>
      			<option value="Armed-Forces">Armed Forces</option>
      </select>&nbsp;<br>

		  <span style="color:white;font-weight: bold">Relationship</span>&nbsp;  <select type = "text" name="relationship" required="required" autofocus="autofocus" style="text-align:center; width:34%;margin-left: 9.7%;margin-top: 5px;border:1px solid rgba(240,220,156,1.0);color: rgba(240,220,156,1.0);width: 400px">
  			<option value="Other-relative">Other Relative</option>
  			<option value="Husband">Husband</option>
  			<option value="Not-in-family">Not In Family</option>
  			<option value="Own-child">Own Child</option>
  			<option value="Unmarried">Unmarried</option>
  			<option value="Wife">Wife</option>
  		</select>&nbsp;<br>

  		<span style="color:white;font-weight: bold">Race</span>&nbsp;  <select type = "text" name="race" required="required" style="text-align:center; width:41.5%;margin-left: 18.75%;margin-top: 5px;border:1px solid rgba(240,220,156,1.0);color: rgba(240,220,156,1.0);width: 400px">
  			<option value="White">White</option>
  			<option value="Asian-Pac-Islander">Asian Pacific Islander</option>
  			<option value="Black">Black</option>
  			<option value="Other">Other</option>
  			<option value="Amer-Indian-Eskimo">American Indian Eskimo</option>
  		</select>&nbsp;<br>

  		<span style="color:white;font-weight: bold;">Gender</span>&nbsp;  <input type="radio" id="male" name="gender" value="Male" style="margin-left: 16%;margin-top: 5px;border:1px solid rgba(240,220,156,1.0);">&nbsp;
    		<label for="male" style="color:white;;width: 170px">Male</label>&nbsp;&nbsp;
    		<input type="radio" id="female" name="gender" value="Female">&nbsp;&nbsp;
    		<label for="female" style="color:white;">Female</label>&nbsp;&nbsp;<br>

		<!--<span style="color:white;font-weight: bold">Country</span>&nbsp;  <input type="number" class="input" name="country"  min="1" max="38" required="required" style="text-align:center; width:10%;background:rgba(0,0,0,0.5);outline:none;border-radius: 4px;border:1px solid rgba(240,220,156,1.0); color:rgba(240,220,156,1.0);font-weight:bold;margin-left: 15%;margin-top: 5px;width: 400px"><br>-->

    <span style="color:white;font-weight: bold">Country</span>&nbsp;  <select type = "text" name="country" required="required" style="text-align:center; width:41.5%;margin-left: 15%;margin-top: 5px;border:1px solid rgba(240,220,156,1.0);color: rgba(240,220,156,1.0);width: 400px">
        <option value="1"> Cambodia</option>
        <option value="2">Canada</option>
        <option value="3">China</option>
        <option value="4">Columbia</option>
        <option value="5">Cuba</option>
        <option value="6">Dominican Republic</option>
        <option value="7">Ecuador</option>
        <option value="8">El-Salvador</option>
        <option value="9">England</option>
        <option value="10">France</option>
        <option value="11">Germany</option>
        <option value="12">Greece</option>
        <option value="13">Gautemala</option>
        <option value="14">Haiti</option>
        <option value="15">Holland (Netherlands)</option>
        <option value="16">Honduras</option>
        <option value="17">Hong Kong</option>
        <option value="18">Hungary</option>
        <option value="19">India</option>
        <option value="20">Iran</option>
        <option value="21">Ireland</option>
        <option value="22">Italy</option>
        <option value="23">Jamaica</option>
        <option value="24">Japan</option>
        <option value="25">Laos</option>
        <option value="26">Mexico</option>
        <option value="27">Nicaragua</option>
        <option value="28">Outlying US</option>
        <option value="29">Peru</option>
        <option value="30">Phillipines</option>
        <option value="31">Poland</option>
        <option value="32">Portugal</option>
        <option value="33">Puerto Rico</option>
        <option value="34">South Africa</option>
        <option value="35">Taiwan</option>
        <option value="36">Thailand</option>
        <option value="37">Trinidad and Togbago/option>
        <option value="38">United States of America</option>

      </select>&nbsp;<br>

		<span style="color:white;font-weight: bold">Capital Gain</span>&nbsp;  <input type="number" class="input" name="capital_gain"  required="required" style="text-align:center; width:20%;background:rgba(0,0,0,0.5);outline:none;border-radius: 4px;border:1px solid rgba(240,220,156,1.0); color:rgba(240,220,156,1.0);font-weight:bold;margin-left: 10%;margin-top: 5px;width: 400px"><br>
		<span style="color:white;font-weight: bold">Capital Loss</span>&nbsp;  <input type="number" class="input" name="capital_loss"  required="required" style="text-align:center; width:20%;background:rgba(0,0,0,0.5);outline:none;border-radius: 4px;border:1px solid rgba(240,220,156,1.0); color:rgba(240,220,156,1.0);font-weight:bold;margin-left: 9.75%;margin-top: 5px;width: 400px"><br>
		<span style="color:white;font-weight: bold">Hours/Week</span>  <input type="number" class="input" name="hours_per_week" required="required" style="text-align:center; width:150px;background:rgba(0,0,0,0.5);outline:none;border-radius: 4px;border:1px solid rgba(240,220,156,1.0); color:rgba(240,220,156,1.0);font-weight:bold;margin-left: 11%;margin-top: 5px;width: 400px"><br><br>

  		
    <button type="submit" class="btn btn-primary btn-block btn-large" style="color:white;border-radius: 4px;border: 2px solid rgba(240,220,156,1.0);background: black;font-size: 15px;font-weight: bold;" >Predict</button>
    </form>

   <br>
   
   <span style="text-align: center;color: white;font-weight: bold;font-size: 15px;">{{ prediction_text }}</span>

 </div>


</body>
</html>